img {
  image-orientation: from-image !important;
}

a {
  color: #00a2ff !important;
}

a:hover {
  color: #46bbff !important;
}

.card1 {
  background-color:#f0496d;
}

.card2 {
  background-color:#f05649;
}

.card3 {
  background-color: #00959b;
}

hr {
  color: white;
  border: 1px solid white;
}
