<div class="container">
  <app-nav></app-nav>
  <app-header></app-header>
  <div class="row">
    <div class="col m3 s12">
        <div class="card card1">
            <div class="card-content white-text">
              <span class="card-title center-align">About the Author:</span>
              <hr><br/>
              <img src="../../assets/images/me.jpg" style="width:100%;"/>
              <p>My name is Tanya and I am born &amp; raised in the Atlanta, GA area and have been here all my life.
                I love exploring new and exciting restaurants as well as digging into some authentic and cultural hole in the walls.
                I decided to create a restaurant food blog to show off some of my best finds. Hope you enjoy!
              </p>
            </div>

          </div>
          <div class="card card2">
              <div class="card-content white-text">
                <span class="card-title center-align">Fun Facts:</span>
                <hr><br/>

                  <p>68 street names have “Peachtree” in them.</p><br/>
                  <p>Atlanta was founded as a transportation hub at the intersection of two railroad lines in 1837.</p><br/>
                  <p>Atlanta was home to Dr. Martin Luther King, Jr., and a major center for the Civil Rights Movement. Resulting desegregation occurred in stages over the 1960s.</p>

              </div>

            </div>
    </div>
    <div class="col m9 s12">
      <div class="row">
        <div class="col m6 s12">
            <div class="card large sticky-action hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../../assets/images/IMG_5071.jpg">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">El Rey Del Taco<i class="material-icons right">more_vert</i></span>
                    <h6>Doraville, GA</h6>
                    <p class="smaller">Pictured: Al pastor and carne asada tacos on corn tortillas.</p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">El Rey Del Taco<i class="material-icons right">close</i></span>
                    <p>El Rey Del Taco is located off Buford Hwy in Doraville and its name literally translates to “The King of Taco” and boy is it hard to beat a taco from here! I’ve been several times already and look forward to visiting again!</p>
                  </div>
                  <div class="card-action">
                      <a href="https://www.yelp.com/biz/el-rey-del-taco-atlanta" target="_blank">YELP</a>
                      <a href="http://elreydeltacoatl.com/" target="_blank">WEBSITE</a>
                    </div>
              </div>
        </div>
        <div class="col m6 s12">
            <div class="card large sticky-action hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../../assets/images/DDD42DF8-14C1-4A14-B2CB-25D1C28AD278.jpg">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">La Pastorcita<i class="material-icons right">more_vert</i></span>
                    <h6>Brookhaven, GA</h6>
                    <p>Pictured: Pastor especial parrilla w/ no mushrooms. </p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">La Pastorcita<i class="material-icons right">close</i></span>
                    <p>La Pastorcita is located off Buford Hwy in Brookhaven. I wanted to order something different besides tacos, so I went for the pastor especial parrilla and it was so delicious. I had enough for leftover tacos the next day (it comes with corn tortillas).</p>
                  </div>
                  <div class="card-action">
                      <a href="https://www.yelp.com/biz/la-pastorcita-atlanta" target="_blank">YELP</a>
                    </div>
              </div>
        </div>

      </div>
      <div class="row">
      <div class="col m6 s12">
          <div class="card large sticky-action hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="../../assets/images/IMG_4722.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Los Ranchos Latinos<i class="material-icons right">more_vert</i></span>
                  <h6>Norcross, GA</h6>
                  <p>Pictured: Carne asada & al pastor tacos on flour tortillas.</p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Los Ranchos Latinos<i class="material-icons right">close</i></span>
                  <p>Los Ranchos is located in Norcross off Buford Hwy, it is a very cultured hole in the wall place. Most of the folks who work there don’t speak English well but if you know some Spanish, you’ll be fine. I was able to successfully speak Spanish while I was there. Their tacos are unmatched!</p>
                </div>
                <div class="card-action">
                    <a href="https://www.yelp.com/biz/los-ranchos-latinos-norcross" target="_blank">YELP</a>
                  </div>
            </div>
      </div>
      <div class="col m6 s12">
          <div class="card large sticky-action hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="../../assets/images/58259905440__925AB004-9E13-466B-83E0-649348154410.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Las Huertas Tequila & Tacos<i class="material-icons right">more_vert</i></span>
                  <h6>Berkeley Lake, GA</h6>
                  <p>Pictured: Carne asada & al pastor tacos on flour tortillas.</p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Las Huertas Tequila & Tacos<i class="material-icons right">close</i></span>
                  <p>Las Huertes is located in Berkeley Lake, not far from my house actually. It is a brand new restaurant to the area, they are still having trouble getting their liquor license (heard it was the city’s fault) but their food is so good, you won’t need alcohol! The folks who work there are really nice and every time I’ve been, I just had water to drink and been perfectly happy. The food is cooked by a Mexican chef and is very traditional and delicious.</p>
                </div>

            </div>
      </div>

    </div>
    <div class="row">
        <div class="col m6 s12">
            <div class="card large sticky-action hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../../assets/images/IMG_4787.png">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">SriThai Kitchen & Sushi Bar<i class="material-icons right">more_vert</i></span>
                    <h6>Duluth, GA</h6>
                    <p>Pictured: Pineapple fried rice w/ spring rolls.</p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">SriThai Kitchen & Sushi Bar<i class="material-icons right">close</i></span>
                    <p>SriThai is located in my city, Duluth. Only have been here once but it was the best Thai I’ve had in my life so far. I need to go back and try the Pad Thai but their pineapple fried rice is to die for. It already has a kick to it so wouldn’t recommend adding additional spice to this dish. Their spring rolls was also very good, highly recommended in my book!</p>
                  </div>
                  <div class="card-action">
                      <a href="https://www.yelp.com/biz/srithai-thai-kitchen-and-sushi-bar-duluth" target="_blank">YELP</a>
                      <a href="http://www.srithaikitchen.com/" target="_blank">WEBSITE</a>
                    </div>
              </div>
        </div>
        <div class="col m6 s12">
            <div class="card large sticky-action hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../../assets/images/desta.jpg">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Desta Ethiopian Kitchen<i class="material-icons right">more_vert</i></span>
                    <h6>Atlanta, GA</h6>
                    <p>Pictured: Lamb tibs with injera, miser, and tomato fitfit.</p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Desta Ethiopian Kitchen<i class="material-icons right">close</i></span>
                    <p>Desta is located in Atlanta near Clairmont Rd. It was my first time ever having Ethiopian or African food for that matter and it was delicious.
                      I thought the injera bread was super interesting, although I didn't love the taste that much. I enjoyed everything else. I would love to go again to try something new!
                    </p>
                  </div>
                  <div class="card-action">
                      <a href="https://www.yelp.com/biz/desta-ethiopian-kitchen-atlanta" target="_blank">YELP</a>
                      <a href="https://destaethiopiankitchen.com/" target="_blank">WEBSITE</a>
                    </div>
              </div>
        </div>
        <div class="col m6 s12">
            <div class="card large sticky-action hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../../assets/images/lilfey.jpg">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Little Rey<i class="material-icons right">more_vert</i></span>
                    <h6>Atlanta, GA</h6>
                    <p>Pictured: Al pastor taco on corn tortilla.</p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Little Rey<i class="material-icons right">close</i></span>
                    <p>Little Rey is located on the corner of Cheshire Bridge and Piedmont Ave in Atlanta. I had three of the al pastor tacos on corn tortillas. They were mediocre tacos but the resturant was cute, although very crowded when I went on a Thursday night. It's a new hip place in town.</p>
                  </div>
                  <div class="card-action">
                      <a href="https://www.yelp.com/biz/little-rey-atlanta-3" target="_blank">YELP</a>
                      <a href="https://www.littlerey.com/" target="_blank">WEBSITE</a>
                    </div>
              </div>
        </div>
        <div class="col m6 s12">
            <div class="card large sticky-action hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../../assets/images/tacos1.jpg">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Alebrije Mexican Cuisine<i class="material-icons right">more_vert</i></span>
                    <h6>Duluth, GA</h6>
                    <p>Pictured: Al pastor and carne asada tacos on corn tortillas, chips &amp; salsa, and rice.</p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Alebrije Mexican Cuisine<i class="material-icons right">close</i></span>
                    <p>Alebrije Mexican Cuisine is a quaint Mexican restaurant located on the north end of Duluth. I absolutely loved the tacos and the rice was flavorful. All of the ingredients are made in house, even the margaritas are organic!</p>
                  </div>
                  <div class="card-action">
                      <a href="https://www.yelp.com/biz/alebrije-mexican-cuisine-duluth?osq=Alebrije+Mexican+Cuisine" target="_blank">YELP</a>
                      <a href="https://www.alebrijemexicancuisine.com/" target="_blank">WEBSITE</a>
                    </div>
              </div>
        </div>

      </div>

    </div>

  </div>

  <app-footer></app-footer>
</div>
